# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Matlab code generation folders
codegen/

# Octave session info
octave-workspace

# Data folders and files containing data
/data
*.mat
*.txt

# local functions
/localfunctions